html {
  margin: 0;
  min-height: 100%;
  background-color: #8C2D19;
}



* {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif; 
  color: white;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
}

header {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1;
}

#wrap2 {
  display: grid;
  grid-template-columns: auto auto;
  overflow: auto;
}

#wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  overflow: auto;
}

body > header {
    text-decoration: none;
    padding: 1em;
}
  
body > header a {
    text-decoration: none;  
}

body {
  width: 60em;
  margin: 1em auto;
  --main-color: white;
  max-width: 100vw;
  margin: 0;
  height: 100%;
}

#footer {
  background-color: rgb(51, 51, 51, 51);
  padding: 1em;
  color: white;
  height: 20px;
  bottom: 0;
  left: 0px;
  width: 100%;
  margin-bottom: 0px;
  position: static;
}

#cp {
  text-align: left;
  font-weight: bold;
  font-size: 12px;
  vertical-align: middle;
  line-height: normal;
  margin-left: 20px;
}

body > * {
  margin: 0 1em;
}

.tit {
  flex: 1;
  font-size: 45px;
  font-weight: 600;
  cursor: default;
  user-select: none;
  margin-bottom: 0.5em;
  width: 60%;
  color: blue !important;
}

.signup {
  overflow: hidden;
  margin-right: 3em;
  cursor: pointer;
  font-size: 14px;
  display: flex;
  justify-content: flex-end;
  float: left;
  margin-top: 25px;
}

.signup input[type="text"] {
  color: black;
}

.signup button {
  float: right;
  padding: 6px 10px;
  background: #ccc;
  font-size: 5px;
  border: none;
  cursor: pointer;
}

/*.signup a {
  margin-left: 2em;
  margin-right: 2em;
}

.signup a:hover {
  text-shadow:
  -1px -1px 0 #8c2d88,
  1px -1px 0 #8c2d88,
  -1px 1px 0 #8c2d88,
  1px 1px 0 #8c2d88;
  color: cyan;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
}*/

#menu {
  padding: 5px 40px;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  min-height: 70px;
  float: left;
}

#menu ul {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  align-items: center;
  justify-content: space-between;
  gap: 80px;
}

#menu ul li {
  padding: 15px 0;
  cursor: pointer;
  display: block;
}

#menu ul li a {
  font-size: 18px;
}

#menu ul li.item {
  width: auto;
  margin: 0 16px;
  text-align: center;
  position: relative;
  transition: 0.6s ease;
}

#menu ul li.item:hover > a {
  color: cyan;
  transition: all 0.2s ease-in;
}


#menu ul li a {
  text-decoration: none;
  font-size: 18px;
}

#hamb {
  display: none;
  cursor: pointer;
  top: 0.5em;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #fff;
}

@media all and (max-width: 1000000px) {

  #menu {
    padding: 5px 30px;
  }

  #hamb {
    display: block;
  }
  
  #hamb.active .bar:nth-child(2) {
    opacity: 0;
  }

  #hamb.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  #hamb.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  #menu ul {
    position: fixed;
    left: -100%;
    top:70px;
    gap: 0;
    flex-direction: column;
    background-color: #8c2d19;
    width: 100%;
    text-align: center;
    transition: 0.5s;
  }

  #menu ul.active {
    left: 0;
  }

  .item {
    margin: 16px 0;
    width: 100%;
  }
}

/*body > header{
  display: flex;
  padding: 1em;
  text-decoration: none;
}

body > header > h1{
  flex-grow: 1;
  font-size: 2em;
}

body>header>h1 a{
  text-decoration: none;
  color: var(--main-color);
}

body>header>h1 a:hover{
  font-size: 120%;
}*/

body>header>form{
  display: grid;
}

body > header form.login {
  grid-template-columns: auto auto;
  gap: 1em;
}

body > header form.login input {
  grid-column-end: span 2;
}

body > header form a {
  text-decoration: none;
  color: var(--main-color);
}

main {
  margin: 1em;
  padding: 1em;
  margin-top: 300px;
}


main a {
  color: var(--main-color);
  text-decoration: none;
}

main > header {
  display: flex;
}

main > header h2 {
  flex-grow: 1;
}

main > header input {
  align-self: center;
}

#restaurants {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1em;
}

#restaurants article * {
  grid-column-start: 1;
  grid-row-start: 1;
}

#restaurants article a {
  color: white;
  text-decoration: none;
  text-shadow: 2px 2px #333;

  font-size: 1.5em;

  align-self: center;
  justify-self: center;

  text-align: center;
}

form.profile {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 1em;
  max-width: 20em;
}

form.profile button {
  grid-column-start: 2;
}

@media only screen and (max-width: 540px) {
  #albums article {
    grid-template-columns: auto;
  }
}

#profile_image>img{
  width: 100px !important;
  height: 100px !important;
}

#profile_list{
  display: flex;
  margin: 5px;
}

#profile_list>img{
  margin: 12px;
}

#profile_list>ul{
  margin: 12px;
}

#restaurants article img{
  width: 100px !important;
  height: 100px !important;
}

#tables img{
  width: 100px !important;
  height: 100px !important;
}

#photo_field img{
  width: 100px !important;
  height: 100px !important;
}


.rating {
  display: inline-block;
  position: relative;
  height: 50px;
  line-height: 50px;
  font-size: 50px;
}

.rating label {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  cursor: pointer;
}

.rating label:last-child {
  position: static;
}

.rating label:nth-child(1) {
  z-index: 5;
}

.rating label:nth-child(2) {
  z-index: 4;
}

.rating label:nth-child(3) {
  z-index: 3;
}

.rating label:nth-child(4) {
  z-index: 2;
}

.rating label:nth-child(5) {
  z-index: 1;
}

.rating label input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.rating label .icon {
  float: left;
  color: transparent;
}

.rating label:last-child .icon {
  color: #000;
}

.rating:not(:hover) label input:checked ~ .icon,
.rating:hover label:hover input ~ .icon {
  color: gold;
}

.rating label input:focus:not(:checked) ~ .icon:last-child {
  color: #000;
  text-shadow: 0 0 5px gold;
}


#tables td{
  height: 80px;
  width: 160px;
  text-align: center;
  vertical-align: middle;
}


.slider {
  -webkit-appearance: none;
  appearance: none;
  height: 2px;
  background: black;
  outline: none;
  width: 60em;
  margin-left: 0;
  margin-right: 0;
}

.container{
  width: 60em;
}

.login1 {
  background-image: url("../pictures/server.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  margin-top: 170px;
  width: 100%;
  height: 100%;
}

.formul {
  width: 450px;
  height: 600px;
  position: relative;
  margin: 7% auto;
  background: rgba(0, 0, 0, 0.8);
  padding: 10px;
  overflow: hidden;
}

.button_rectangle {
  width: 200px;
  margin: 30px auto;
  position: relative;
  box-shadow: 0 0 15px 7px #8C2D19;
  border-radius: 25px;
}

.button_log {
  padding: 10px 27px;
  cursor: pointer;
  background: transparent;
  border: 0;
  outline: none;
  position: relative;
}

#log {
  top: 0;
  left: 0;
  position: absolute;
  width: 110px;
  height: 100%;
  background: linear-gradient(to right, #8c2d19, #8c2d88);
  border-radius: 35px;
  transition: 0.5s;
}

.inputs {
  top: 200px;
  position: absolute;
  width: 250px;
  transition: 0.5s;
}

.words {
  width: 100%;
  padding: 10px 0;
  margin: 5px 0;
  border-left: 0;
  border-top: 0;
  border-right: 0;
  border-bottom: 1px solid #8C2D19;
  outline: none;
  background: transparent;
}

.check {
  margin: 25px 12px 25px 0;
}

.sub {
  width: 90%;
  padding: 10px 35px;
  cursor: pointer;
  display: block;
  margin: auto;
  background: linear-gradient(to right, #8c2d19, #8c2d88);
  border: 0;
  outline: none;
  border-radius: 25px;
}

.sub:hover {
  opacity: 1;
  background: #cccc;
  border-radius: 35px;
  box-shadow: 0 0 15px 7px #cccc;
  transition: 0.5s;
}

.useless {
  color: #999;
  font-size: 13px;
  bottom: 70px;
  position: absolute;
}

#login2 {
  left: 50px;
}

#register1 {
  left: 600px;
  top: 120px;
}

/* The slider handle (use webkit (Chrome, Opera, Safari, Edge) and moz (Firefox) to override default look) */

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  background: black;
  cursor: pointer;
  border-radius: 50%;
  margin: 0;
}

.slider::-webkit-slider-thumb,
.slider::-moz-range-thumb {
  width: 15px;
  height: 15px;
  background: black;
  cursor: pointer;
  border-radius: 50%;
  margin: 0;
}

#State {
font-family: "Lato";
font-size: 2rem;
font-weight: 300;
}

#logout-but {
  font-size: 20px;
  color: black;
  text-align: center;
  vertical-align: middle;
}

#logout-but:hover {
  background-color: #ccc;
}