html{
  background-color: #8C2D19;
}

body{
  width: 60em;
  margin: 1em auto;
  --main-color: black;
  max-width: 100vw;
}

body > * {
  margin: 0 1em;
}

body>header{
  display: flex;
  padding: 1em;
}

body>header>h1{
  flex-grow: 1;
  font-size: 2em;
}

body>header>h1 a{
  text-decoration: none;
  color: var(--main-color);
}

body>header>h1 a:hover{
  font-size: 120%;
}

body>header>form{
  display: grid;
}

body > header form.login {
  grid-template-columns: auto auto;
  gap: 1em;
}

body > header form.login input {
  grid-column-end: span 2;
}

body > header form a {
  text-decoration: none;
  color: var(--main-color);
}

main {
  margin: 1em;
  padding: 1em;
}


main a {
  color: var(--main-color);
  text-decoration: none;
}

main > header {
  display: flex;
}

main > header h2 {
  flex-grow: 1;
}

main > header input {
  align-self: center;
}

#restaurants {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1em;
}

#restaurants article * {
  grid-column-start: 1;
  grid-row-start: 1;
}

#restaurants article a {
  color: white;
  text-decoration: none;
  text-shadow: 2px 2px #333;

  font-size: 1.5em;

  align-self: center;
  justify-self: center;

  text-align: center;
}

form.profile {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 1em;
  max-width: 20em;
}

form.profile button {
  grid-column-start: 2;
}

footer {
  background-color: black;
  padding: 1em;
  color: white;
}

@media only screen and (max-width: 540px) {
  #albums article {
    grid-template-columns: auto;
  }
}

#profile_image>img{
  width: 100px !important;
  height: 100px !important;
}

#profile_list{
  display: flex;
  margin: 5px;
}

#profile_list>img{
  margin: 12px;
}

#profile_list>ul{
  margin: 12px;
}

#restaurants article img{
  width: 100px !important;
  height: 100px !important;
}

#menus img{
  width: 100px !important;
  height: 100px !important;
}

#photo_field img{
  width: 100px !important;
  height: 100px !important;
}


.rating {
  display: inline-block;
  position: relative;
  height: 50px;
  line-height: 50px;
  font-size: 50px;
}

.rating label {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  cursor: pointer;
}

.rating label:last-child {
  position: static;
}

.rating label:nth-child(1) {
  z-index: 5;
}

.rating label:nth-child(2) {
  z-index: 4;
}

.rating label:nth-child(3) {
  z-index: 3;
}

.rating label:nth-child(4) {
  z-index: 2;
}

.rating label:nth-child(5) {
  z-index: 1;
}

.rating label input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.rating label .icon {
  float: left;
  color: transparent;
}

.rating label:last-child .icon {
  color: #000;
}

.rating:not(:hover) label input:checked ~ .icon,
.rating:hover label:hover input ~ .icon {
  color: gold;
}

.rating label input:focus:not(:checked) ~ .icon:last-child {
  color: #000;
  text-shadow: 0 0 5px gold;
}